@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

.tawk-text-bold {
  display: none !important;
}

.swiper-pagination-bullet-active {
  background: #c05693 !important;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.span {
  font-weight: bold;
  color: #c05693;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 4px 7px 4px 8px;
  border-radius: 4px;
  background: #ffd5ed;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.top-btn {
  color: #fff;
  background: #c05693;
  padding: 5px 10px;
  border-radius: 13px;
}

.about-title {
  font-size: 30px;
  color: #182553;
}

.open-btn {
  font-size: 26px;
  color: #fff;
  margin-left: 10px;
  display: none;
}

.top-b {
  padding-top: 25px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-b div {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-b i {
  font-size: 30px;
}

.top-b span {
  font-size: 25px;
  color: #000;
  font-weight: bold;
}

.top-b a {
  font-weight: bold;
  color: #000;
  font-size: 19px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

#body.active {
  overflow: hidden !important;
}

html body {
  font-family: 'Roboto', sans-serif;
}

html body #header {
  position: relative;
}

html body #header .container .row {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #header .container .row .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

html body #header .container .row .header-left .header-link {
  color: #fff;
  font-size: 20px;
  margin-right: 60px;
  height: 100%;
}

html body #header .container .row .header-left .header-link img {
  padding: 10px;
  height: 100%;
}

html body #header .container .row .header-left nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

html body #header .container .row .header-left nav .nav-list li {
  margin-right: 30px;
}

html body #header .container .row .header-left nav .nav-list li a {
  font-size: 18px;
  color: #fff;
}

html body #header .container .row .header-right .download {
  color: #000;
  border: 1px transparent;
  border-radius: 100px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  font-weight: bold;
  padding: 5px 30px;
  background: #fff;
  font-size: 14px;
}

html body main .background-blue {
  background: linear-gradient(357deg, #de5472 52%, #c05693);
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
  position: relative;
  z-index: -1;
}

html body main .background-blue .row {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body main .background-blue .row .hk-title {
  color: #fff;
  font-size: 40px;
}

html body main .background-blue .row .hk-content {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
}

html body main .background-blue .hk-abs-svg {
  width: 100%;
  position: absolute;
  bottom: -4px;
}

html body main #about .about-container {
  max-width: 1300px;
  margin: 0 auto;
}

html body main #about .about-container .about-center {
  text-align: center;
}

html body main #about .about-container .row {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

html body main #about .about-container .row .about-card {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main #about .about-container .row .about-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

html body main #about .about-container .row .about-card .about-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

html body main #about .about-container .row .about-card .about-name .Name {
  color: #000;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

html body main #about .about-container .row .about-card .about-name .Name-alt {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 17px;
}

html body main #about-alt {
  margin-top: 100px;
}

html body main #about-alt .container h3 {
  text-align: center;
  font-size: 30px;
  color: #182553;
  margin-bottom: 50px;
}

html body main #about-alt .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

html body main #about-alt .container .row .b-left {
  width: 40%;
  margin-right: 90px;
}

html body main #about-alt .container .row .b-left img {
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

html body main #about-alt .container .row .b-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body main #about-alt .container .row .b-right .right-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

html body main #about-alt .container .row .b-right .right-flex img {
  max-width: 60px;
  margin-right: 20px;
}

html body main #about-alt .container .row .b-right .right-flex span {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
  color: #182553;
}

html body main #about-alt .container .row .b-right .right-flex p {
  width: 90%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

html body main #reklam2 {
  margin-top: 150px;
}

html body main #reklam2 .container h3 {
  text-align: center;
  font-size: 30px;
  color: #182553;
  font-weight: bold;
  margin-bottom: 50px;
}

html body main #reklam2 .container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

html body main #reklam2 .container .row .reklam-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

html body main #reklam2 .container .row .reklam-item img {
  height: 100%;
  width: 230px;
}

html body main .mobil-menu .mobil-container nav ul {
  position: fixed;
  top: 90px;
  left: -100%;
  height: calc(100vh - 10px);
  background-color: #fff;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
  padding-left: 25px;
}

html body main .mobil-menu .mobil-container nav ul.active {
  left: 0;
}

html body main .mobil-menu .mobil-container nav ul li {
  margin-bottom: 40px;
  width: 90%;
}

html body main .mobil-menu .mobil-container nav ul li a {
  color: #182553;
  font-size: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
  display: block;
}

html body main .bg-elements {
  background-image: linear-gradient(357deg, #de5472 52%, #c05693);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 320px 0;
  z-index: -1;
  background-size: cover;
}

html body main .bg-elements .bottom {
  position: absolute;
  bottom: -4px;
  width: 100%;
}

html body main .bg-elements .bottom img {
  height: 100%;
  width: 100%;
}

html body main .sosial-area {
  margin-top: -30px;
  margin-bottom: 70px;
  overflow: hidden;
}

html body main .sosial-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body main .sosial-area .container a {
  margin-right: 25px;
}

html body main .sosial-area .container a:last-child {
  margin-right: 0;
}

html body main .sosial-area .container a i {
  border: 1px dotted #dd277b;
  font-size: 30px;
  background: #dd277b;
  border-radius: 50%;
  color: #fff;
  padding: 12px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

html body main .sosial-area .container a i:hover {
  border: 1px dotted #dd277b;
  color: #000;
  background: transparent;
}

html body main #banner {
  padding-top: 60px;
}

html body main #banner .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body main #banner .container .row .banner-left {
  width: 460px;
}

html body main #banner .container .row .banner-left span {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.4);
  font-size: 17px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 7px 4px 8px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
}

html body main #banner .container .row .banner-left h1 {
  margin: 0 0 16px;
  color: #fff;
  font-weight: bold;
  font-size: 44px;
}

html body main #banner .container .row .banner-left p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 24px;
}

html body main #banner .container .row .banner-left .btn-flex .apple {
  margin-right: 10px;
}

html body main #banner .container .row .banner-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body main #banner .container .row .banner-right .img {
  background: #000;
  width: 600px;
  height: 400px;
}

html body main #reklam {
  margin-top: 150px;
}

html body main #reklam .container .title {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 4px 7px 4px 8px;
  border-radius: 4px;
  background-color: #ffd5ed;
  color: #c05693;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
}

html body main #reklam .container .row .logo-area {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body main #reklam .container .row .logo-area .logo {
  max-width: 100%;
  height: 40px;
  margin-bottom: 52px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 0;
  vertical-align: middle;
  display: inline-block;
}

html body main #app {
  position: relative;
  margin-top: 40px;
  background-color: #e6e8f0;
}

html body main #app .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body main #app .container .row img {
  width: 90%;
}

html body main #app .bg-element-two {
  width: 100%;
  position: absolute;
  top: 0px;
}

html body main #app .bg-element-two img {
  width: 100%;
  height: 100%;
}

html body main #acardion {
  background-color: #e6e8f0;
  padding-top: 100px;
  padding-bottom: 100px;
}

html body main #acardion .container .acardion-title {
  text-align: center;
}

html body main #acardion .container .acardion-title h2 {
  font-size: 26px;
  line-height: 32px;
  color: #30364d;
  font-weight: bold;
  margin-bottom: 60px;
}

html body main #acardion .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main #acardion .row .left-item img {
  width: 460px;
}

html body main #acardion .row .right-item .right-flex {
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
}

html body main #acardion .row .right-item .right-flex:hover {
  background: rgba(128, 0, 128, 0);
}

html body main #acardion .row .right-item .right-flex.active {
  background: #fff;
}

html body main #acardion .row .right-item .right-flex .right-title,
html body main #acardion .row .right-item .right-flex .right-content {
  margin-left: 60px;
}

html body main #acardion .row .right-item .right-flex .right-title {
  margin-bottom: 15px;
  font-size: 22px;
}

html body main #acardion .row .right-item .right-flex .right-content {
  color: #798099;
  font-size: 19px;
  font-weight: 400;
}

html body main #acardion .row .right-item .right-flex .icon {
  position: absolute;
  top: 23px;
  left: 20px;
  font-size: 35px;
  border-radius: 50%;
  background: #c05693;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
}

html body main #emergency {
  margin-top: 50px;
}

html body main #emergency .container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

html body main #emergency .container .row .emer-left {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

html body main #emergency .container .row .emer-left span {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  margin-top: 40px;
}

html body main #emergency .container .row .emer-left h2 {
  font-size: 33px;
  color: #0f1340;
  margin-bottom: 40px;
}

html body main #emergency .container .row .emer-left .emer-content {
  width: 85%;
  color: #798099;
  font-size: 19px;
  line-height: 32px;
}

html body main #emergency .container .row .emer-left img {
  width: 250px;
  margin-bottom: 15px;
}

html body main #emergency .container .row .emer-left .emer-btn {
  margin-top: 20px;
  background-color: rgba(15, 19, 64, 0.05);
  height: 48px;
  padding: 5px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 14px;
}

html body main #emergency .container .row .emer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body main #emergency .container .row .emer-right img {
  width: 400px;
  height: 650px;
}

html body main #card {
  width: 100%;
  position: relative;
  margin-top: 100px;
  background-color: #e6e8f0;
  background-image: linear-gradient(357deg, #de5472 52%, #c05693);
  z-index: -1;
  padding-top: 50px;
  padding-bottom: 100px;
}

html body main #card h5 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
}

html body main #card .container .row .card-grid {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (200px)[3];
      grid-template-rows: repeat(3, 200px);
}

html body main #card .container .row .card-grid .card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body main #card .container .row .card-grid .card-flex i {
  margin-right: 20px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 35px;
  background: #fff;
}

html body main #card .container .row .card-grid .card-flex h6 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

html body main #card .container .row .card-grid .card-flex p {
  margin-top: 15px;
  line-height: 25px;
  font-size: 17px;
  color: #fff;
  opacity: 0.7;
}

html body main #card .img-top-abs svg {
  width: 100%;
  position: absolute;
  top: 0;
  height: 4vw;
}

html body main #card .img-bottom-abs {
  position: absolute;
  bottom: -4px;
  width: 100%;
}

html body main #comment {
  margin-top: 120px;
}

html body main #comment .coment-container {
  max-width: 1400px;
  margin: 0 auto;
}

html body main #comment .coment-container h2 {
  text-align: center;
  font-size: 35px;
  color: #000;
  margin-bottom: 50px;
}

html body main #comment .coment-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

html body main #comment .coment-container .row .coment {
  margin: 13px;
  border-radius: 10px;
  width: 400px;
  height: auto;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

html body main #comment .coment-container .row .coment p {
  padding-left: 20px;
  padding-right: 20px;
  margin: 30px 30px 25px;
  color: #798099;
  font-size: 17px;
}

html body main #comment .coment-container .row .coment .coment-flex {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 23px;
  padding: 15px 40px;
}

html body main #comment .coment-container .row .coment .coment-flex .icoN {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #798099;
  color: #fff;
  margin-right: 15px;
}

html body main #comment .coment-container .row .coment .coment-flex .flex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body main #comment .coment-container .row .coment .coment-flex .flex-div p {
  margin: 0;
  padding: 0;
}

html body main #comment .coment-container .row .coment .coment-flex .flex-div .name {
  color: #000;
  font-weight: bold;
}

html body main #comment .coment-container .row .coment .coment-flex .flex-div .app {
  margin-top: 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

html body main #comment .coment-container .row .coment .coment-flex .star {
  margin-left: 80px;
}

html body main #comment .coment-container .row .coment .coment-flex .star i {
  color: darkorange;
}

html body main #last {
  position: relative;
  margin-top: 100px;
  padding: 120px 0;
  width: 100%;
  background-image: linear-gradient(357deg, #de5472 52%, #c05693);
}

html body main #last .container .row {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main #last .container .row span {
  color: #fff;
  font-size: 30px;
}

html body main #last .container .row .p1,
html body main #last .container .row .p2 {
  margin: 13px 0;
  color: #fff;
}

html body main #last .container .row .p1 {
  font-weight: bold;
  font-size: 30px;
}

html body main #last .container .row .btn-flex {
  margin-top: 40px;
}

html body main #last .container .row .btn-flex a {
  margin-right: 10px;
}

html body main #last .container .row .btn-flex a:last-child {
  margin-right: 0;
}

html body main #last .img-abs-last {
  position: absolute;
  top: 0px;
  width: 100%;
  background-size: cover;
}

html body main #last .img-abs-last img {
  width: 100%;
}

html body main .blog {
  margin-top: -40px;
}

html body main .blog .container h3 {
  text-align: center;
  margin-bottom: 30px;
}

html body main .blog .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main .blog .container .row .average {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

html body main .blog .container .row .average img {
  width: 510px;
  height: 440px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

html body main .blog .container .row .average .blog-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

html body main .blog .container .row .average .blog-content p {
  margin: 15px 0 10px;
  color: #fff;
}

html body main .blog .container .row .average .blog-content .time {
  color: #000;
  font-weight: bold;
}

html body main .blog .container .row .left {
  overflow: hidden;
  border-radius: 10px;
}

html body main .blog .container .row .left img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 320px;
  border-radius: 10px;
  margin-top: 10px;
}

html body main .blog .container .row .left .left-abs1 {
  position: relative;
}

html body main .blog .container .row .left .left-abs1 .blog-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

html body main .blog .container .row .left .left-abs1 .blog-content .top-btn {
  color: #fff;
  background: #c05693;
  padding: 5px 10px;
  border-radius: 13px;
}

html body main .blog .container .row .left .left-abs1 .blog-content p {
  margin: 15px 0 10px;
  color: #fff;
}

html body main .blog .container .row .left .left-abs1 .blog-content .time {
  color: #000;
  font-weight: bold;
}

html body main .blog .container .row .right {
  border-radius: 10px;
}

html body main .blog .container .row .right img {
  overflow: hidden;
  margin-top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 320px;
  border-radius: 10px;
}

html body main .blog .container .row .right .left-abs1 {
  position: relative;
}

html body main .blog .container .row .right .left-abs1 .blog-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

html body main .blog .container .row .right .left-abs1 .blog-content .top-btn {
  color: #fff;
  background: #c05693;
  padding: 5px 10px;
  border-radius: 13px;
}

html body main .blog .container .row .right .left-abs1 .blog-content p {
  margin: 15px 0 10px;
  color: #fff;
}

html body main .blog .container .row .right .left-abs1 .blog-content .time {
  color: #000;
  font-weight: bold;
}

html body main .blog-card .container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

html body main .blog-card .container .row .card-item-blog {
  margin-right: 20px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f8a9d6;
  width: 275px;
  height: 415px;
}

html body main .blog-card .container .row .card-item-blog:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  height: 220px;
}

html body main .blog-card .container .row .card-item-blog:last-child {
  margin-right: 0;
}

html body main .blog-card .container .row .card-item-blog img {
  -webkit-transition: 400ms all;
  transition: 400ms all;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  width: 100%;
  max-height: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

html body main .blog-card .container .row .card-item-blog .blog-card-content {
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

html body main .blog-card .container .row .card-item-blog .blog-card-content p {
  font-size: 20px;
  line-height: 25px;
  color: #000;
  margin-bottom: 15px;
}

html body main .last-post .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

html body main .last-post .container .row .post-left {
  width: 80%;
}

html body main .last-post .container .row .post-left .post-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main .last-post .container .row .post-left .post-item .last-post-content {
  margin-left: 10px;
}

html body main .last-post .container .row .post-left .post-item .last-post-content .title-posts {
  margin-bottom: 10px;
  display: block;
  color: #000;
  font-size: 19px;
  font-weight: bold;
}

html body main .last-post .container .row .post-left .post-item .last-post-content .time {
  margin-top: 10px;
  display: block;
}

html body main .last-post .container .row .post-left .post-item img {
  border-radius: 13px;
  margin-top: 0;
  width: 290px;
}

html body main .last-post .container .row .sidebar {
  position: -webkit-sticky;
  position: sticky;
  margin-left: 20px;
  top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html body main .last-post .container .row .sidebar .sidebar-item {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body main .last-post .container .row .sidebar .sidebar-item i {
  padding: 2px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 35px;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
}

html body main .last-post .container .row .sidebar .sidebar-item i.fb {
  background-color: #3b5999;
}

html body main .last-post .container .row .sidebar .sidebar-item i.wp {
  background-color: #3fbb50;
}

html body main .last-post .container .row .sidebar .sidebar-item i.ins {
  background: linear-gradient(15deg, #ffb13d, #dd277b, #4d5ed4);
}

html body main .last-post .container .row .sidebar .sidebar-item i.yt {
  background-color: #f50000;
}

html body main .sual .about-title {
  text-align: center;
  margin-bottom: 50px;
}

html body main .sual .container .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main .sual .container .row .sual-item {
  cursor: pointer;
  padding: 20px 10px;
  width: 90%;
  margin: 20px auto;
  border: 1px solid #c05693;
  border-radius: 8px;
}

html body main .sual .container .row .sual-item.active {
  background: #f8a9d6;
}

html body main .sual .container .row .sual-item h6 {
  font-size: 20px;
}

html body main .sual .container .row .sual-item .sual-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main .sual .container .row .sual-item .sual-flex i {
  font-size: 30px;
}

html body main .sual .container .row .sual-item .sual-content {
  display: none;
  margin-top: 15px;
}

html body main .sual .container .row .sual-item .sual-content.active {
  display: block;
}

html body main .sual .container .row .sual-item .sual-content p {
  font-weight: bold;
  line-height: 25px;
}

html body .footer {
  padding-top: 70px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

html body #footer {
  margin-top: 80px;
}

html body #footer .footer-logo img {
  height: 25px;
}

html body #footer .container .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #footer .container .row1 .left a {
  color: #000;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #footer .container .row1 .left a img {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

html body #footer .container .row1 .left a span {
  color: #000;
}

html body #footer .container .row1 .right .btn-flex a {
  margin-left: 10px;
}

html body #footer .container .row2 {
  margin-top: 50px;
  padding-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body #footer .container .row2 .footer-item {
  color: rgba(0, 0, 0, 0.5);
}

html body #footer .container .row2 .footer-item p {
  margin-bottom: 20px;
  font-size: 18px;
}

html body #footer .container .row2 .footer-item .btn-flex i {
  border: 1px solid #000;
  font-size: 20px;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

html body #footer .container .row2 .footer-list .footer-title {
  color: #000;
  font-size: 20px;
  margin-bottom: 25px;
}

html body #footer .container .row2 .footer-list ul li {
  margin-bottom: 15px;
}

html body #footer .container .row2 .footer-list ul li a {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

html body #footer .footer-bottom {
  text-align: center;
  margin-top: 70px;
}

html body #footer .footer-bottom span {
  font-size: 15px;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1200px) {
  html body main .blog-card .container .row {
    place-items: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  html body main .blog-card .container .row .card-item-blog {
    margin-right: 0;
    margin-bottom: 15px;
  }
  html body main .blog .container .row .average {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body main .blog .container .row .average img {
    max-width: 420px !important;
    height: 420px !important;
  }
  html body main .blog .container .row .left img {
    width: 300px !important;
  }
  html body main .blog .container .row .right img {
    width: 300px !important;
  }
}

@media only screen and (max-width: 1024px) {
  html body .open-btn {
    display: block;
  }
  html body main .last-post .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body main .last-post .container .row .post-left {
    width: 100%;
  }
  html body main .last-post .container .row .sidebar {
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  html body main .blog .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  html body main .blog .container .row .average {
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  html body main .blog .container .row .average img {
    max-width: 100% !important;
    height: 420px !important;
  }
  html body main .blog .container .row .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body main .blog .container .row .left .left-abs1 a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .blog .container .row .left .left-abs1 .blog-content {
    left: 40px !important;
  }
  html body main .blog .container .row .left img {
    width: 90% !important;
  }
  html body main .blog .container .row .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body main .blog .container .row .right .left-abs1 a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .blog .container .row .right .left-abs1 .blog-content {
    left: 40px !important;
  }
  html body main .blog .container .row .right img {
    width: 90% !important;
  }
  html body main #reklam2 .container .row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  html body main #about .about-container .row {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  html body main .bg-elements {
    min-height: 880px;
  }
  html body main #banner .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body main #banner .container .row .banner-left {
    width: 100%;
  }
  html body main #banner .container .row .banner-right {
    margin-top: 20px;
    width: 100%;
  }
  html body main #banner .container .row .banner-right .img {
    height: 350px;
    width: 100%;
  }
  html body main #acardion .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body main #acardion .row .right-item {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  html body main #emergency .container .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  html body main #emergency .container .row .emer-right {
    margin-top: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  html body main #card .container .row .card-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  html body main #card .container .row .card-grid .card-flex {
    margin-top: 30px;
    width: 100%;
  }
  html body main #card .container .row .card-grid .card-flex p br {
    display: none;
  }
  html body #header {
    padding: 0 10px;
  }
  html body #header .header-left nav {
    display: none;
  }
  html body #header .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body #footer .container .row2 {
    padding-right: 0;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  html body #footer .container .row2 .footer-list {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 768px) {
  html body main #about-alt {
    margin-top: 20px;
  }
  html body main #about-alt .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body main #about-alt .container .row .b-left {
    margin: 0;
    width: 95%;
  }
  html body main #about-alt .container .row .b-left img {
    width: 100%;
  }
  html body main #about-alt .container .row .b-right {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  html body main #about-alt .container .row .b-right .right-flex p {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  html body main .sual {
    margin-top: -80px;
  }
  html body main .blog {
    margin-top: -80px;
  }
  html body main .blog-content {
    bottom: 25px !important;
  }
  html body main .blog-content p {
    width: 90%;
  }
  html body main .blog .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  html body main .blog .container .row .average {
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  html body main .blog .container .row .average .blog-content {
    left: 40px;
  }
  html body main .blog .container .row .average a {
    width: 90%;
  }
  html body main .blog .container .row .average a img {
    height: 320px !important;
  }
  html body main .blog .container .row .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body main .blog .container .row .left .left-abs1 {
    margin-bottom: 10px;
  }
  html body main .blog .container .row .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body main .blog .container .row .right .left-abs1 {
    margin-bottom: 15px;
  }
  html body main .blog .container .row .average {
    margin: 10px auto;
  }
  html body main .blog .container .row .average .left-abs1 {
    margin-bottom: 15px;
  }
  html body main .blog-card .container .row {
    place-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  html body main .blog-card .container .row .card-item-blog {
    margin-right: 0;
    margin-bottom: 15px;
  }
  html body main .last-post .container .row .post-item {
    padding: 20px 0 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  html body main .last-post .container .row .post-item .last-post-content {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 500px) {
  html body main .background-blue {
    height: 400px;
  }
  html body main .background-blue .hk-abs-svg {
    bottom: -5px;
  }
  html body main #reklam2 {
    margin-top: 0;
  }
  html body main #about {
    margin-top: -80px;
  }
  html body main #about .about-container .row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  html body main #app .container .row .app-top-img {
    margin-top: 60px;
  }
  html body main .bg-elements {
    min-height: 780px;
  }
  html body main #reklam .container .row .logo-area {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main #reklam .container .row .logo-area .logo {
    padding: 0 10px;
    margin-bottom: 25px;
    max-width: 100%;
    height: 20px;
  }
  html body main #comment .coment-container h2 {
    font-size: 26px;
  }
  html body main #comment .coment-container .row .coment {
    width: 90%;
  }
  html body main #comment .coment-container .row .coment p {
    margin: 25px 0;
  }
  html body main #comment .coment-container .row .coment .star {
    white-space: nowrap;
  }
  html body main #comment .coment-container .row .coment .coment-flex {
    padding: 20px 13px;
  }
  html body main #comment .coment-container .row .coment .coment-flex .flex-div .app {
    white-space: nowrap;
  }
  html body main #acardion {
    padding-top: 50px;
  }
  html body main #acardion .container .row .left-item img {
    width: 100%;
  }
  html body main #emergency .container .row .emer-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body main #emergency .container .row .emer-right img {
    height: 560px;
    width: 100%;
  }
  html body main #last .container .row .btn-flex {
    display: -ms-grid;
    display: grid;
  }
  html body main #last .container .row .btn-flex a {
    margin: 10px 0;
  }
  html body main #banner .container .row .banner-left span {
    font-size: 14px;
  }
  html body main #banner .container .row .banner-left h1 {
    font-size: 27px;
  }
  html body main #banner .container .row .banner-right {
    margin-top: 35px;
  }
  html body main #banner .container .row .banner-right .img {
    height: 250px;
  }
  html body #footer {
    padding-bottom: 15px;
  }
  html body #footer .container .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body #footer .container .row1 .left {
    margin-bottom: 15px;
  }
  html body #footer .container .row1 .right .btn-flex {
    display: -ms-grid;
    display: grid;
  }
  html body #footer .container .row1 .right .btn-flex a {
    margin: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */